/* Configuração de text */
body, html{
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;
}
h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;
}
p{
	margin-bottom: 20px;
}
.conteudo{
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}
.conteudo-titulo{
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}
.conteudo-titulo span.titulo{
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
/* Efeito Parallax */
.caixa1, .caixa2, .caixa3, .caixa4{
	position: relative;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.caixa1{
	background-image: url(imagens/imagem1.jpg);
}
.caixa2{
	background-image: url(imagens/imagem2.jpg);
}
.caixa3{
	background-image: url(imagens/imagem3.jpg);
}
.caixa4{
	background-image: url(imagens/imagem4.jpg);
}
/* MENU */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
.sidebar{
  position: fixed;
  opacity: 0.7;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  z-index: 9
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  z-index: 9
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
  z-index: 9
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
  z-index: 9
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
  z-index: 9
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 9
}
#check{
  display: none;
  z-index: 9;
  opacity: 0.7;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 15px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
  z-index: 9;
  opacity: 0.7;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
  opacity: 0.7;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 0px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}